.container {
  padding: 30px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.listContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  list-style-type: none;
}
